<!-- HTML block inserted into the base.html page -->
{% extends 'base.html' %}

{% block title %}Change password{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Change password</li>
{% endblock %}

{% block content %}
<!-- Creates the change password card -->
<div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
        <form method="post" novalidate>
            {% csrf_token %}
            <!-- Inserts the form content from forms.html file here -->
            {% include 'forms.html' %}
            <!-- Creates button to submit the form -->
            <button type="submit" class="btn btn-success">Change password</button>
        </form>
    </div>
</div>
{% endblock %}